@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: black;
    color: white;
    max-width: 1000px;
    margin: auto;
    font-family: Inter, sans-serif;
}

.Caixa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Caixinha {
    width: 50%;
}

section {

    border-bottom: 1px solid white;
}

h3 {
    color: crimson;
}

#Nome {
    color: crimson;
}